* {
  margin: 0;
  padding: 0;
}
.categotyProductList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  padding-top: 50px;
}
.resultTitle {
  padding: 10px;
}
.results{
    margin: 10px;
}
