.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.singleProduct {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  height: 400px;
}

.singleProduct .imgContainer {
  width: 100%;
}

.singleProduct .productImage {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-bottom: 12px;
}

.singleProduct h2 {
  font-size: 18px;
  margin: 8px 0;
  flex-grow: 1;
  color: black;
}

.singleProduct small {
  margin-bottom: 8px;
  color: #888;
}

.price {
  font-size: 20px;
  color: #2c3e50;
  margin-top: auto;
}

.add {
  cursor: pointer;
  background-color: green;
  padding: 7px;
  border-radius: 5px;
  opacity: 0;
  color: white;
  width: 300px;
  margin: 10px auto;
}

.add:hover {
  opacity: 1;
}

.singleProductflexer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  color: black;
  margin: 30px;
  gap: 50px;

}

.singleProductflexer .imgContainer {
  width: 300px;
  height: auto;
}

.singleProductflexer img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.singleProductflexer .description {
  width: 300px;
  margin: 7px;
}

.singleProductflexer .add {
  cursor: pointer;
  background-color: rgb(90, 114, 90);
  padding: 7px;
  border-radius: 5px;
  opacity: 1;
  color: white;
}
.singleProductflexersmall{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  color: black;
  margin:auto;
  gap: 50px;
 
}
.singleProductflexersmall .imgContainer {
  width: 60px;
  height: auto;
  margin: auto;
}
.singleProductflexersmall img {
  width: 100%;
  height: 80px;
  object-fit: contain;
  margin-bottom: 12px;
}
.singleProductflexersmall .description {
  width: auto;

}